<form [formGroup]="addToDoForm" (ngSubmit)="onSubmit()">
    <p class="title">Create new ToDo:</p>

    <mat-form-field>
        <mat-label>Enter toDo title</mat-label>
        <input matInput formControlName="title" placeholder="Title" type="text" required>
        <mat-error *ngIf="addToDoForm.get('title').hasError('required')">
            Title is required
        </mat-error>
        <mat-error *ngIf="addToDoForm.get('title').hasError('minlength')">
            Title must be at least 3 characters long
        </mat-error>
        <mat-error *ngIf="addToDoForm.get('title').hasError('maxlength')">
            Title cannot be more than 30 characters long
        </mat-error>
    </mat-form-field>

    <button class="addButton" type="submit" [disabled]="addToDoForm.invalid">Add</button>
</form>