<div class="options">
    <button (click)="openDialogAddToDo()">Create ToDo</button>
    <input class="search" placeholder="Search" [(ngModel)]="search">
    <ul>
        <span class="label">Filter by author name</span>
        <li *ngFor="let item of userIdAndBoolean; index as i" class="check">
            <mat-checkbox [(ngModel)]="userIdAndBoolean[i][1]" (change)="filterToDos()">
                <p> {{ getToDoAuthorName(userIdAndBoolean[i][0]) }} </p>
            </mat-checkbox>
        </li> <br>
        <li class="check">
            <span class="label">Filter by readiness</span>
            <mat-radio-group [(ngModel)]="filterByReadiness" (change)="filterToDos()">
                <mat-radio-button value="all">All</mat-radio-button>
                <mat-radio-button value="done">Done</mat-radio-button>
                <mat-radio-button value="incomplete">Incomplete</mat-radio-button>
            </mat-radio-group>
        </li> <br>
        <li class="check">
            <mat-radio-group [(ngModel)]="sortBy" (change)="sortToDos()">
                <span class="label">Sort by date</span>
                <mat-radio-button value="descDate">Descending
                </mat-radio-button>
                <mat-radio-button value="ascDate">Ascending</mat-radio-button>
                <br>
                <span class="label">Sort by name</span>
                <mat-radio-button value="alphTitle">Alphabetically</mat-radio-button>
                <mat-radio-button value="unalphTitle">Unalphabetically
                </mat-radio-button>
            </mat-radio-group>
        </li>
    </ul>
</div>
<div *ngFor="let item of toDosOnPage | searchPipe: search" class="list">
    <mat-checkbox [(ngModel)]="item.completed" (change)="saveChanges()">
        <input class="checktext" [(ngModel)]="item.title" (blur)="saveChanges()">
    </mat-checkbox>
    <i class="fas fa-trash delete" (click)="deleteItem(item.id)"></i>
</div>